{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listeelements list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Valeur</th>
                <th>Element(s)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for listeElement in listeElements %}
            <tr>
                <td><a href="{{ path('ListeElement_show', { 'id': listeElement.id }) }}">{{ listeElement.id }}</a></td>
                <td>{{ listeElement.valeur }}</td>
                <td>
                    <ul>
                    {% for element in listeElement.elements %}
                        <li>{{ element.libelle }}</li>
                    {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ListeElement_show', { 'id': listeElement.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ListeElement_edit', { 'id': listeElement.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ListeElement_new') }}">Create a new listeElement</a>
        </li>
    </ul>
{% endblock %}
