{% extends 'default/layout.html.twig' %}

{% block title %}Liste des ventilations{% endblock %}

{% block main -%}
    <h1>Liste des ventilations</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Tempspasse</th>
                <th>Validation</th>
                <th>Datesaisie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ventilation in ventilations %}
            <tr>
                <td><a href="{{ path('ventilation_show', { 'id': ventilation.id }) }}">{{ ventilation.id }}</a></td>
                <td>{{ ventilation.tempsPasse }}</td>
                <td>{% if ventilation.validation %}Yes{% else %}No{% endif %}</td>
                <td>{% if ventilation.dateSaisie %}{{ ventilation.dateSaisie|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ventilation_show', { 'id': ventilation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ventilation_edit', { 'id': ventilation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
    <form action="{{ path('ventilation_new') }}" method="post">
        <label for="formulaire">Activité </label>
        <select id="formulaire" name="formulaire">
            {% for formulaire in formulaires %}
                <option value="{{ formulaire.id }}">{{ formulaire.libelle }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Saisir" />
    </form>
{% endblock %}
