{% extends 'default/layout.html.twig' %}

{% block title %}Liste des ventilations{% endblock %}

{% block main %}

    {% if ventilation %}
    <h1>Saisir une activité</h1>
    <div class="row text-center">
        <a href="{{ path('activite') }}"><button class="btn btn-primary">Activités</button></a>
        <a href="{{ path('autreactivite') }}"><button class="btn btn-primary">Autre activités</button></a>
        <a href="{{ path('anomalie') }}"><button class="btn btn-primary">Anomalies</button></a>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h2>Activité journalière saisie</h2>
            <table border="1" class="table table-striped">
                <tr>
                    <th>Métier</th>
                    <th>Type Produit</th>
                    <th>Quantite</th>
                    <th>Temps</th>
                    <th>Commentaire</th>
                </tr>
            {% for activite in activites %}
                <tr>
                    <td>{{ activite.metier }}</td>
                    <td>{{ activite.typeProduit }}</td>
                    <td>{{ activite.quantite }}</td>
                    <td>{{ activite.temps }}</td>
                    <td>{{ activite.commentaire }}</td>
                </tr>
            {% endfor %}
            </table>

            <label>Temps passée : {{ tempsActivite }}</label>
        </div>
        <div class="col-lg-6">
            <h2>Autre Activité journalière saisie</h2>
            <table border="1" class="table table-striped">
                <tr>
                    <th>Activite</th>
                    <th>Temps</th>
                    <th>Commentaire</th>
                </tr>
                {% for autreactivite in autreActivites %}
                    <tr>
                        <td>{{ autreactivite.activite }}</td>
                        <td>{{ autreactivite.temps }}</td>
                        <td>{{ autreactivite.commentaire }}</td>
                    </tr>
                {% endfor %}
            </table>

            <label>Temps passée : {{ tempsAutreActivite }}</label>
        </div>
        <div class="col-lg-12">
            <h2>Anomalie journalière saisie</h2>
            <table border="1" class="table table-striped">
                <tr>
                    <th>Anomalie</th>
                    <th>Type Produit</th>
                    <th>Fabricant</th>
                    <th>Reférence</th>
                    <th>Code Défaut</th>
                    <th>Quantite</th>
                    <th>Temps</th>
                    <th>Commentaire</th>
                </tr>
                {% for anomalie in anomalies %}
                    <tr>
                        <td>{{ anomalie.anomalie }}</td>
                        <td>{{ anomalie.typeProduit }}</td>
                        <td>{{ anomalie.fabricant }}</td>
                        <td>{{ anomalie.reference }}</td>
                        <td>{{ anomalie.codeDefaut }}</td>
                        <td>{{ anomalie.quantite }}</td>
                        <td>{{ anomalie.temps }}</td>
                        <td>{{ anomalie.commentaire }}</td>
                    </tr>
                {% endfor %}
            </table>

            <label>Temps passée : {{ tempsAnomalie }}</label>
        </div>
        <br/><br/>
        <h1>Temps journalier : {{ tempsJournalier }}</h1>
    </div>
    {#<h1>Liste des ventilations</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Tempspasse</th>
                <th>Validation</th>
                <th>Datesaisie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ventilation in ventilations %}
            <tr>
                <td><a href="{{ path('ventilation_show', { 'id': ventilation.id }) }}">{{ ventilation.id }}</a></td>
                <td>{{ ventilation.tempsPasse }}</td>
                <td>{% if ventilation.validation %}Yes{% else %}No{% endif %}</td>
                <td>{% if ventilation.dateSaisie %}{{ ventilation.dateSaisie|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ventilation_show', { 'id': ventilation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ventilation_edit', { 'id': ventilation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
    <form action="{{ path('ventilation_index') }}" method="post">
        <label for="typeActivite">Activité </label>
        <select id="typeActivite" name="typeActivite">
            {% for activite in typeActivite %}
                <option value="{{ activite.id }}">{{ activite.libelle }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Choisir" />
    </form>#}
    {% else %}
        <a href="{{  path('ventilation_demarrer') }}"><button>Démarrer la ventilation</button></a>
    {% endif %}

{% endblock %}
