{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ventilation creation</h1>

    {{ form_start(form) }}
        <label>Métier</label>
        <select id="formulaire" name="formulaire">
            {% for formulaire in formulaires %}
                <option value="{{ formulaire.id }}">{{ formulaire.libelle }}</option>
            {% endfor %}
        </select>
        {{ form_widget(form) }}
        <input type="submit" value="Sauvegarder" />

    {{ form_end(form) }}
    <a href="{{ path('ventilation_index') }}"><button>Retour</button></a>

    <div>
        <label>Temps journalier passé :</label>
        <div>{{ temps }}</div>
    </div>
{% endblock %}
