{% extends 'default/layout.html.twig' %}

{% block title %}Liste des ventilations à controler{% endblock %}

{% block main %}
    <table border="1">
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Date de saisie</th>
            <th>Temps</th>
            <th>Inspecter</th>
            <th>Validation</th>
        </tr>

        {% for ventilation in ventilations %}
        {% set temps = 0 %}
        <tr>
            <td>{{ ventilation.utilisateur.nom }}</td>
            <td>{{ ventilation.utilisateur.prenom }}</td>
            <td>{{ ventilation.dateSaisie|date("d/m/Y") }}</td>
            {% for activite in ventilation.activites %}
                {% set temps = temps + activite.temps %}
            {% endfor %}
            {% for autreactivite in ventilation.autreactivites %}
                {% set temps = temps + autreactivite.temps %}
            {% endfor %}
            {% for anomalie in ventilation.anomalies %}
                {% set temps = temps + anomalie.temps %}
            {% endfor %}
            <td>{{ temps }}</td>
            <td><a href="{{ path('ventilation_voir', {'id' : ventilation.id}) }}"><button>Voir</button></a></td>
            <td><a href="{{ path('ventilation_validation', {'id' : ventilation.id}) }}"><button>Valider</button></a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
