{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ventilation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ventilation.id }}</td>
            </tr>
            <tr>
                <th>Tempspasse</th>
                <td>{{ ventilation.tempsPasse }}</td>
            </tr>
            <tr>
                <th>Validation</th>
                <td>{% if ventilation.validation %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Datesaisie</th>
                <td>{% if ventilation.dateSaisie %}{{ ventilation.dateSaisie|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ventilation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ventilation_edit', { 'id': ventilation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
