
<div class="header ">
    <nav class="navbar   navbar-fixed-top">
        <div class="navbar-header">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand logo" href="#">
                        {#<img src="/images/logo.png" alt="Example" />#}
                    </a>                 
                </div> 
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('homepage') }}">Accueil</a></li>
                        {% if is_granted("ROLE_DROIT_ACCES_RESPONSABLE") %}
                        <li><a href="{{path("magasin")}}">Gestion des utilisateurs</a></li>
                        <li><a href="{{path("contratConsommateur")}}">Gestion des activités</a></li>
                        <li><a href="{{path("enConstruction")}}" >Gestion des ventilations</a></li>
                        {%endif%}
                        {% if is_granted("ROLE_DROIT_ACCES_UTILISATEUR") %}
                        <li><a href="{{path("enConstruction")}}">Mes contrats</a></li>
                        <li><a href="{{path("production")}}">Gestion de mes productions</a></li>
                        {%endif%}
                </ul>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <ul class="nav navbar-nav">
                        {# Je suis un commentaire
                        <li>
                            <a href="{{ path('batiment_index') }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Gestion des bâtiments</a>
                        </li>
                        <li>
                            <a href="{{ path('dossier_index') }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Gestion des dossiers</a>
                        </li>
                        <li>
                            <a href="{{ path('poste_index') }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Gestion des postes</a>
                        </li>
                        <li>
                            <a href="{{ path('secteur_index') }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Gestion des secteurs</a>
                        </li>
                        <li>
                            <a href="{{ path('typeContrat_index') }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Gestion des types de contrats</a>
                        </li>
                        <li>
                            <a href="{{ path('ventilation_index') }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Gestion des ventilations</a>
                        </li>
                        #}
                        <li>
                            <a href="{{ path('fos_user_profile_show') }}"><span class="" aria-hidden="true"></span> Bonjour {{ app.user.username }}</a>
                        </li>
                        <li>                           
                            <a href="{{ path('fos_user_security_logout') }}"> <span class="" aria-hidden="true"></span> Déconnexion</a>
                        </li>
                    </ul>
                {% else %}
                    <ul  class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('fos_user_security_login') }}"><span class="" aria-hidden="true"></span> Connexion</a></li>
                {% endif %}
                        {#<li>{{ "now"|date("d/m/Y")}}</li>#}
                    </ul>
            </div>
        </div>
    </nav>
</div>