{% extends 'base.html.twig' %}

{% block body %}
    <h1>Typeelements list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typeElement in typeElements %}
            <tr>
                <td><a href="{{ path('typeelement_show', { 'id': typeElement.id }) }}">{{ typeElement.id }}</a></td>
                <td>{{ typeElement.libelle }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('typeelement_show', { 'id': typeElement.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('typeelement_edit', { 'id': typeElement.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typeelement_new') }}">Create a new typeElement</a>
        </li>
    </ul>
{% endblock %}
