{% extends 'default/layout.html.twig' %}

{% block title %}Gestion des secteurs{% endblock %}

{% block main -%}
    <div class="row" style='margin-top: 1%;'>
        <div class="col-md-8 col-md-offset-2 titre text-center">
            <h1>Liste des secteurs</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th class="hidden" style="text-align: center;">Id</th>
                        <th style="text-align: center;">Libelle</th>
                        <th style="text-align: center;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for secteur in secteurs %}
                    <tr>
                        <td><a href="{{ path('secteur_show', { 'id': secteur.id }) }}">{{ secteur.id }}</a></td>
                        <td>{{ secteur.libelle }}</td>
                        <td>
                            <a href="{{ path('secteur_show', { 'id': secteur.id }) }}"><button type="button" class="btn btn-success">
                                <span class="glyphicon glyphicon-search"></span> Voir
                            </button></a>
                            <a href="{{ path('secteur_edit', { 'id': secteur.id }) }}"><button type="button" class="btn btn-info">
                                <span class="glyphicon glyphicon-pencil"></span> Modifier
                            </button></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row text-center">
        <a href="{{ path('secteur_new') }}"><button type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus-sign"></span> Créer un nouveau secteur
        </button></a>
    </div>
{% endblock %}
