{% extends 'default/layout.html.twig' %}

{% block title %}Details d'un secteur{% endblock %}

{% block main -%}
    <div class="row text-left" style="margin-top: 2%;">
        <a href="{{ path('secteur_index') }}"><button type="button" class="btn btn-primary">
            <span class=" glyphicon glyphicon-arrow-left"></span> Retour
        </button></a>
    </div>
    
    <div class="row">
        <div class="col-md-8 col-md-offset-2 titre text-center">
            <h1>Details d'un secteur</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <table class='table' style="margin-top: 2%;">
                <tbody>
                <tr class="hidden">
                        <th>Id</th>
                        <td>{{ secteur.id }}</td>
                    </tr>
                    <tr>
                        <th>Libelle</th>
                        <td>{{ secteur.libelle }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row text-center">
        <a href="{{ path('secteur_edit', { 'id': secteur.id }) }}"><button type="button" class="btn btn-info">
            <span class="glyphicon glyphicon-pencil"></span> Modifier
        </button></a>
        {{ form_start(delete_form) }}
            <br/><button type="submit" class="btn btn-danger">
                <span class=" glyphicon glyphicon-remove"></span> Supprimer
            </button>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
