{% extends 'default/layout.html.twig' %}

{% block title %}Gestion des formulaires{% endblock %}

{% block main %}
    <div class="row" style='margin-top: 1%;'>
        <div class="col-md-8 col-md-offset-2 titre text-center">
            <h1>Liste des formulaires</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th style="text-align: center;">Id</th>
                        <th style="text-align: center;">Libelle</th>
                        <th style="text-align: center;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for formulaire in formulaires %}
                    <tr>
                        <td><a href="{{ path('formulaire_show', { 'id': formulaire.id }) }}">{{ formulaire.id }}</a></td>
                        <td>{{ formulaire.libelle }}</td>
                        <td>
                            <a href="{{ path('formulaire_afficher', { 'id': formulaire.id }) }}"><button type="button" class="btn btn-success">
                                    <span class="glyphicon glyphicon-search"></span> Afficher
                                </button></a>
                            <a href="{{ path('formulaire_show', { 'id': formulaire.id }) }}"><button type="button" class="btn btn-success">
                                <span class="glyphicon glyphicon-search"></span> Voir
                            </button></a>
                            <a href="{{ path('formulaire_edit', { 'id': formulaire.id }) }}"><button type="button" class="btn btn-info">
                                <span class="glyphicon glyphicon-pencil"></span> Modifier
                            </button></a>
                            <a href="{{ path('formulaire_addElement', {'id': formulaire.id}) }}"><button type="button" class="btn btn-warning">
                                <span class="glyphicon glyphicon-download-alt"></span> Ajouter un élément
                            </button></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row text-center">
        <a href="{{ path('formulaire_new') }}"><button type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus-sign"></span> Créer un nouveau formulaire
        </button></a>
    </div>
{% endblock %}