{% extends 'base.html.twig' %}

{% block body %}
    <h1>Typeactivites list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typeActivite in typeActivites %}
            <tr>
                <td><a href="{{ path('typeactivite_show', { 'id': typeActivite.id }) }}">{{ typeActivite.id }}</a></td>
                <td>{{ typeActivite.libelle }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('typeactivite_show', { 'id': typeActivite.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('typeactivite_edit', { 'id': typeActivite.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typeactivite_new') }}">Create a new typeActivite</a>
        </li>
    </ul>
{% endblock %}
