{% extends 'default/layout.html.twig' %}

{% block title %}Gestion des dossiers{% endblock %}

{% block main -%}
    <div class="row" style='margin-top: 1%;'>
        <div class="col-md-8 col-md-offset-2 titre text-center">
            <h1>Liste des dossiers</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th class="hidden">Id</th>
                        <th style="text-align: center;">Nom</th>
                        <th style="text-align: center;">Responsable</th>
                        <th style="text-align: center;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for dossier in dossiers %}
                    <tr>
                        <td class="hidden"><a href="{{ path('dossier_show', { 'id': dossier.id }) }}">{{ dossier.id }}</a></td>
                        <td>{{ dossier.nom }}</td>
                        <td>{{ dossier.responsable}}</td>
                        <td>
                            <a href="{{ path('dossier_show', { 'id': dossier.id }) }}"><button type="button" class="btn btn-success">
                                <span class="glyphicon glyphicon-search"></span> Voir
                            </button></a>
                            <a href="{{ path('dossier_edit', { 'id': dossier.id }) }}"><button type="button" class="btn btn-info">
                                <span class="glyphicon glyphicon-pencil"></span> Modifier
                            </button></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row text-center">
        <a href="{{ path('dossier_new') }}"><button type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus-sign"></span> Créer un nouveau dossier
        </button></a>
    </div>
{% endblock %}
