{% extends 'default/layout.html.twig' %}

{% block title %}Création d'un dossier{% endblock %}

{% block main -%}
    
    <div class="row text-left" style="margin-top: 2%;">
        <a href="{{ path('dossier_index') }}"><button type="button" class="btn btn-primary">
            <span class=" glyphicon glyphicon-arrow-left"></span> Retour
        </button></a>
    </div>
            
    <div class="row">
        <div class="col-md-8 col-md-offset-2 titre text-center">
            <h1>Création d'un dossier</h1>
        </div>
    </div>
    {{ form_start(form) }}
    <div class="row" style='margin-top: 1%;'>
        <div class="col-md-4">
            <label class="col-sm-4 col-form-label">Nom :</label>
            {{ form_widget(form.nom, {'attr': {'class': 'form-control col-md-4'}}) }}
        </div>
        <div class="col-md-4">
            <label class="col-sm-6 col-form-label">Responsable :</label>
            <select class="form-control col-md-4" name="responsable" id="listeResponsable">
                {% for utilisateur in listeReponsable %}
                    <option value="{{ utilisateur.id }}">{{ utilisateur.nom  }} {{ utilisateur.prenom }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row" style='margin-top: 1%;'>
        <div class="col-md-6 col-md-offset-6">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-ok"></span> Créer
                </button>

        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
